<!doctype html>
<html lang="{{ site.language_attributes }} ">
  <head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{ function('wp_head') }}
    <title>{% block title  '' %}</title>
  </head>
  <body>
    <div class="site-width site-height">
      <div class="{{ body_class }}">
         {% block body '' %}
      </div>
    </div>
  </body>
  {{ function('wp_footer')}}
</html>